.content{
    width :100%;
    height :100%;
}
.win_top{
    width :100%;
    height :10%;
    float:left;
}
#title{
    width :68%;
    height :10%;
    float:left;
}
#title img{
    height: 80px;
    width : auto;
    margin-left : 20px;
    float:left;
}
#title img:hover{
    opacity :0.6;
}
#date{
    width:28%;
    height :15%;
    float:left;
    vertical-align: middle;
}
p.float_left{
    float:left;
}
.results{
    width :98%;
    height :85%;
    position:absolute;
    bottom:10px;
    left:10px;
    text-align: center;
    float:left;
    overflow-y:auto;
    border : 2px solid #4e73df
}
#image{
    float: left;
    filter:blur(5px); 
    margin:5px; 
}
#image:hover{
opacity: 0.8;
}
#detect{
    border: 1px solid dimgray; 
    background-color: dimgray; 
    line-height: 1;
    font-size: 17px;
    width: 200px;
    height :40px;
    padding:10px 15px;
    display: block;
    box-sizing: border-box;
    color: white;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: absolute;
    top:4%;
    right:5%;
    z-index: 1;
    margin-top: 10px;
}
#detect:hover{
    background-color: white;
    color: dimgray;
}